@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Open+Sans+Condensed:ital,wght@1,300&display=swap');

.customborder{
    width :200px;
    border: 2px solid red;
    color: red;
}

.customborder:before {
    content:"";
    position: absolute;
    right: 11px;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #f3440e transparent;
    z-index:9999;
}


.drop_title{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    color: rgb(2,32,60);
    text-align: center;
    background-color: #FFFFFF;
  }


.arrow_box {
	position: relative;
	background: #ecf0f1;
	border: 2px solid #c2e1f5;
    width: 300px;
    border-radius: 10px/20px;
}

.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
    right: 25px;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #ecf0f1;
	border-width: 10px;
	margin-left: -10px;
}
