@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
.dropdowntitle {
  color: white;
}

.drop_title {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 23.8px;
  color: rgb(2, 32, 60);
  text-align: center;
  background-color: #FFFFFF;
}